@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SistemaClinico</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
 *@

<RadzenPanelMenuItem Text="Inicio" Path="" Icon="home" />


<RadzenPanelMenuItem Text="Tipos de Empleado" Path="tipo-empleados" Icon="List" />
<RadzenPanelMenuItem Text="Empleados" Path="empleados" Icon="Group" />

<RadzenPanelMenuItem Text="Especialidades" Path="especialidads" Icon="dangerous" IconColor="@Colors.Danger" />
<RadzenPanelMenuItem Text="Medicos" Path="medicos" Icon="dangerous" IconColor="@Colors.Danger" />
<RadzenPanelMenuItem Text="Dias de Semana" Path="dia-semanas" Icon="dangerous" IconColor="@Colors.Danger" />
<RadzenPanelMenuItem Text="Horas" Path="horas" Icon="dangerous" IconColor="@Colors.Danger" />

<RadzenPanelMenuItem Text="Pacientes" Path="pacientes" Icon="Group_Add" />


<RadzenPanelMenuItem Text="Horario Antención" Path="horario-atencions" Icon="dangerous" IconColor="@Colors.Danger" />
<RadzenPanelMenuItem Text="Citas" Path="cita" Icon="dangerous" IconColor="@Colors.Danger" />

<RadzenPanelMenuItem Text="Historias Clinicas" Path="historia-clinicas" Icon="dangerous" IconColor="@Colors.Danger" />
<RadzenPanelMenuItem Text="Diagnosticos" Path="diagnosticos" Icon="dangerous" IconColor="@Colors.Danger" />

@* <RadzenPanelMenuItem Text="Menus" Path="menus" /> *@
@* <RadzenPanelMenuItem Text="Permisos" Path="permisos" /> *@